In [1]:
import numpy as np
import pandas as pd

In [2]:
housing = pd.read_csv(r'C:\Users\dgarb\OneDrive\Documents\Data Science Bootcamp August\Machine Learning Project\data\x_train.csv',index_col=0)

In [3]:
df_name = housing
target_median = housing.SalePrice.median()
categ_feature = 'Neighborhood'
target = 'SalePrice'

df1 = df_name.groupby([categ_feature])[target].median().reset_index()
df1 = df1.rename(columns={target:'median_of_target'})

df1['index'] = (df1['median_of_target']/target_median*100).astype(int)

df2= df_name[[categ_feature,target]]
df2 = df2.groupby([categ_feature]).count().reset_index()
df2 = df2.rename(columns={target:'category_freq'})

df2['pct_total'] = df2['category_freq']/df_name.shape[0]*100

df3 = pd.merge(df2,df1)

df4 = df3.sort_values(by=['index'], ascending=False).reset_index()
df4 = df4.drop(columns=['level_0'])
df4

   Neighborhood  category_freq  pct_total  median_of_target  index
0       NoRidge             43   2.410314          315750.0    197
1       NridgHt             86   4.820628          312545.0    195
2       Veenker             17   0.952915          255000.0    159
3       StoneBr             34   1.905830          255500.0    159
4       Somerst             98   5.493274          233250.0    145
5        Timber             32   1.793722          216750.0    135
6       ClearCr             27   1.513453          200000.0    125
7       CollgCr            170   9.529148          200000.0    125
8       Crawfor             74   4.147982          198750.0    124
9        Greens              6   0.336323          189000.0    118
10      SawyerW             77   4.316143          187000.0    116
11      Blmngtn             13   0.728700          185485.0    116
12      Gilbert             93   5.213004          183200.0    114
13       NWAmes             84   4.708520          181000.0    113
14      Mitchel             69   3.867713          156450.0     97
15      NPkVill             16   0.896861          144875.0     90
16        NAmes            282  15.807175          140000.0     87
17        SWISU             32   1.793722          136200.0     85
18       Sawyer            103   5.773543          137000.0     85
19      BrkSide             68   3.811659          128000.0     80
20      Edwards            112   6.278027          125000.0     78
21      Blueste              3   0.168161          124000.0     77
22      OldTown            151   8.464126          122000.0     76
23       IDOTRR             48   2.690583          120250.0     75
24       BrDale             20   1.121076          106000.0     66
25      MeadowV             26   1.457399           87000.0     54

In [5]:
def categ_check(
df_name = None,
target_median = None,
categ_feature = None,
target = None):

    df1 = df_name.groupby([categ_feature])[target].median().reset_index()
    df1 = df1.rename(columns={target:'median_of_target'})

    df1['index'] = (df1['median_of_target']/target_median*100).astype(int)

    df2= df_name[[categ_feature,target]]
    df2 = df2.groupby([categ_feature]).count().reset_index()
    df2 = df2.rename(columns={target:'category_freq'})

    df2['pct_total'] = df2['category_freq']/df_name.shape[0]*100

    df3 = pd.merge(df2,df1)

    df4 = df3.sort_values(by=['index'], ascending=False).reset_index()
    df4 = df4.drop(columns=['level_0'])
    return df4

In [6]:
categ_check(
df_name = housing,
target_median = housing.SalePrice.median(),
categ_feature = 'Neighborhood',
target = 'SalePrice')

   Neighborhood  category_freq  pct_total  median_of_target  index
0       NoRidge             43   2.410314          315750.0    197
1       NridgHt             86   4.820628          312545.0    195
2       Veenker             17   0.952915          255000.0    159
3       StoneBr             34   1.905830          255500.0    159
4       Somerst             98   5.493274          233250.0    145
5        Timber             32   1.793722          216750.0    135
6       ClearCr             27   1.513453          200000.0    125
7       CollgCr            170   9.529148          200000.0    125
8       Crawfor             74   4.147982          198750.0    124
9        Greens              6   0.336323          189000.0    118
10      SawyerW             77   4.316143          187000.0    116
11      Blmngtn             13   0.728700          185485.0    116
12      Gilbert             93   5.213004          183200.0    114
13       NWAmes             84   4.708520          181000.0    113
14      Mitchel             69   3.867713          156450.0     97
15      NPkVill             16   0.896861          144875.0     90
16        NAmes            282  15.807175          140000.0     87
17        SWISU             32   1.793722          136200.0     85
18       Sawyer            103   5.773543          137000.0     85
19      BrkSide             68   3.811659          128000.0     80
20      Edwards            112   6.278027          125000.0     78
21      Blueste              3   0.168161          124000.0     77
22      OldTown            151   8.464126          122000.0     76
23       IDOTRR             48   2.690583          120250.0     75
24       BrDale             20   1.121076          106000.0     66
25      MeadowV             26   1.457399           87000.0     54